<div id="floating-panel">
    <b>Mode of Travel: </b>
    <select id="mode" (change)="changeTravelMode($event)">
      <option value="DRIVING">Driving</option>
      <option value="WALKING">Walking</option>
      <option value="BICYCLING">Bicycling</option>
      <option value="TRANSIT">Transit</option>
    </select>
  <b>Start: </b>
  <select id="start" (change)="changeSource($event)">
      <option value="location">Your location</option>    
      <option *ngFor="let item of providerList;index as i" [value]="i">{{item.fullname}}</option>
  </select>
  <b>End: </b>
  <select id="end" (change)="changeDestination($event)">
      <option *ngFor="let item of providerList ;index as i" [value]="i">{{item.fullname}}</option>
  </select>
  </div>
<div #mapContainer id="map" class="map"></div>
